frontend-kardex-products/src/conf/xml-resources/web-service-references/WSKardex/wsdl/localhost_8080/Backend-ParcialFinalProgramacionIII/WSKardex.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="WSKardex">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/Backend-ParcialFinalProgramacionIII/WSKardex?xsd=1"/>
</xsd:schema>
</types>
<message name="listarKardex">
<part name="parameters" element="tns:listarKardex"/>
</message>
<message name="listarKardexResponse">
<part name="parameters" element="tns:listarKardexResponse"/>
</message>
<message name="obtenerKardexID">
<part name="parameters" element="tns:obtenerKardexID"/>
</message>
<message name="obtenerKardexIDResponse">
<part name="parameters" element="tns:obtenerKardexIDResponse"/>
</message>
<message name="eliminarUltimoRegistro">
<part name="parameters" element="tns:eliminarUltimoRegistro"/>
</message>
<message name="eliminarUltimoRegistroResponse">
<part name="parameters" element="tns:eliminarUltimoRegistroResponse"/>
</message>
<message name="actualizarKardex">
<part name="parameters" element="tns:actualizarKardex"/>
</message>
<message name="actualizarKardexResponse">
<part name="parameters" element="tns:actualizarKardexResponse"/>
</message>
<message name="RegistrarTransaccion">
<part name="parameters" element="tns:RegistrarTransaccion"/>
</message>
<message name="RegistrarTransaccionResponse">
<part name="parameters" element="tns:RegistrarTransaccionResponse"/>
</message>
<message name="listarUltimoRegistroDeSuCategoria">
<part name="parameters" element="tns:listarUltimoRegistroDeSuCategoria"/>
</message>
<message name="listarUltimoRegistroDeSuCategoriaResponse">
<part name="parameters" element="tns:listarUltimoRegistroDeSuCategoriaResponse"/>
</message>
<portType name="WSKardex">
<operation name="listarKardex">
<input wsam:Action="http://service/WSKardex/listarKardexRequest" message="tns:listarKardex"/>
<output wsam:Action="http://service/WSKardex/listarKardexResponse" message="tns:listarKardexResponse"/>
</operation>
<operation name="obtenerKardexID">
<input wsam:Action="http://service/WSKardex/obtenerKardexIDRequest" message="tns:obtenerKardexID"/>
<output wsam:Action="http://service/WSKardex/obtenerKardexIDResponse" message="tns:obtenerKardexIDResponse"/>
</operation>
<operation name="eliminarUltimoRegistro">
<input wsam:Action="http://service/WSKardex/eliminarUltimoRegistroRequest" message="tns:eliminarUltimoRegistro"/>
<output wsam:Action="http://service/WSKardex/eliminarUltimoRegistroResponse" message="tns:eliminarUltimoRegistroResponse"/>
</operation>
<operation name="actualizarKardex">
<input wsam:Action="http://service/WSKardex/actualizarKardexRequest" message="tns:actualizarKardex"/>
<output wsam:Action="http://service/WSKardex/actualizarKardexResponse" message="tns:actualizarKardexResponse"/>
</operation>
<operation name="RegistrarTransaccion">
<input wsam:Action="http://service/WSKardex/RegistrarTransaccionRequest" message="tns:RegistrarTransaccion"/>
<output wsam:Action="http://service/WSKardex/RegistrarTransaccionResponse" message="tns:RegistrarTransaccionResponse"/>
</operation>
<operation name="listarUltimoRegistroDeSuCategoria">
<input wsam:Action="http://service/WSKardex/listarUltimoRegistroDeSuCategoriaRequest" message="tns:listarUltimoRegistroDeSuCategoria"/>
<output wsam:Action="http://service/WSKardex/listarUltimoRegistroDeSuCategoriaResponse" message="tns:listarUltimoRegistroDeSuCategoriaResponse"/>
</operation>
</portType>
<binding name="WSKardexPortBinding" type="tns:WSKardex">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarKardex">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerKardexID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarUltimoRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarKardex">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrarTransaccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUltimoRegistroDeSuCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSKardex">
<port name="WSKardexPort" binding="tns:WSKardexPortBinding">
<soap:address location="http://localhost:8080/Backend-ParcialFinalProgramacionIII/WSKardex"/>
</port>
</service>
</definitions>