frontend-kardex-products/src/conf/xml-resources/web-service-references/WSProducto/wsdl/localhost_8080/Backend-ParcialFinalProgramacionIII/WSProducto.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="listarProductos" type="tns:listarProductos"/>

<xs:element name="listarProductosResponse" type="tns:listarProductosResponse"/>

<xs:element name="listarReporte" type="tns:listarReporte"/>

<xs:element name="listarReporteResponse" type="tns:listarReporteResponse"/>

<xs:element name="registrarProducto" type="tns:registrarProducto"/>

<xs:element name="registrarProductoResponse" type="tns:registrarProductoResponse"/>

<xs:complexType name="listarReporte">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarReporteResponse">
<xs:sequence>
<xs:element name="return" type="tns:modelProducto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modelProducto">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="existencia" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="idTipoProducto" type="xs:int"/>
<xs:element name="precio" type="xs:double"/>
<xs:element name="strTipoProducto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarProducto">
<xs:sequence>
<xs:element name="DESCRIPCION" type="xs:string" minOccurs="0"/>
<xs:element name="PRECIO" type="xs:double"/>
<xs:element name="EXISTENCIA" type="xs:int"/>
<xs:element name="ID_TIPO_PRODUCTO" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarProductos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarProductosResponse">
<xs:sequence>
<xs:element name="return" type="tns:modelProducto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>