frontend-kardex-products/src/conf/xml-resources/web-service-references/WSProducto/wsdl/localhost_8080/Backend-ParcialFinalProgramacionIII/WSProducto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="WSProducto">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/Backend-ParcialFinalProgramacionIII/WSProducto?xsd=1"/>
</xsd:schema>
</types>
<message name="listarReporte">
<part name="parameters" element="tns:listarReporte"/>
</message>
<message name="listarReporteResponse">
<part name="parameters" element="tns:listarReporteResponse"/>
</message>
<message name="registrarProducto">
<part name="parameters" element="tns:registrarProducto"/>
</message>
<message name="registrarProductoResponse">
<part name="parameters" element="tns:registrarProductoResponse"/>
</message>
<message name="listarProductos">
<part name="parameters" element="tns:listarProductos"/>
</message>
<message name="listarProductosResponse">
<part name="parameters" element="tns:listarProductosResponse"/>
</message>
<portType name="WSProducto">
<operation name="listarReporte">
<input wsam:Action="http://service/WSProducto/listarReporteRequest" message="tns:listarReporte"/>
<output wsam:Action="http://service/WSProducto/listarReporteResponse" message="tns:listarReporteResponse"/>
</operation>
<operation name="registrarProducto">
<input wsam:Action="http://service/WSProducto/registrarProductoRequest" message="tns:registrarProducto"/>
<output wsam:Action="http://service/WSProducto/registrarProductoResponse" message="tns:registrarProductoResponse"/>
</operation>
<operation name="listarProductos">
<input wsam:Action="http://service/WSProducto/listarProductosRequest" message="tns:listarProductos"/>
<output wsam:Action="http://service/WSProducto/listarProductosResponse" message="tns:listarProductosResponse"/>
</operation>
</portType>
<binding name="WSProductoPortBinding" type="tns:WSProducto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarReporte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSProducto">
<port name="WSProductoPort" binding="tns:WSProductoPortBinding">
<soap:address location="http://localhost:8080/Backend-ParcialFinalProgramacionIII/WSProducto"/>
</port>
</service>
</definitions>